
<div class="col-md-6 col-6 mb-3">
  <div style="background: #007bff;" class="small-box shadow">
      <div class="inner">
        <h3>{{ sp_data_count }} </h3>
        <p>Total Report</p>
      </div>
      <div class="icon"> 
        <i class="bx bxs-bar-chart-alt-2"></i> </div>
  </div>
</div> 



<div class="col-md-6 col-6">
  <!-- small card for Male -->
  <div style="background: #007bff;" class="small-box shadow">
      <div class="inner">
        <h3>{{ average_hours }}</h3>
        <p>Average Hours Studied</p>
      </div>
      <div class="icon">
        <i class='bx bx-book-open'></i>      
      </div>
  </div>
</div>

<div class="col-md-6">
    <div class="card card-primary">
      <div class="card-header">
        <h5 style="font-weight:600;" class="card-title">Extracurricular Activities</h5>
      </div>

        <div class="card-body">
          <div class="chart">
            <canvas id="extra_actChart" width="300" height="300"></canvas>
          </div>
        </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>



  <div class="col-md-6">
    <div class="card card-primary">
      <div class="card-header">
        <h5 style="font-weight:600;" class="card-title">Hours Study</h5>
      </div>

        <div class="card-body">
          <div class="chart">
            <canvas id="hrs_studyChart" width="400" height="200"></canvas>
          </div>
        </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  